<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lowdown</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <a href="#/reddit">reddit</a>
  <section class="search"></section>
  <ul id="reddit"></ul>

  <!-- templates-->
  <script type="text/template" id="search-template">
    <form class="search-form">
      <input type="text" name="searchVal">
      <input type="submit" value="Search">
    </form>
  </script>

  <script type="text/template" id="reddit-template">
    <li class="reddit-item">
      <a target="_blank" href="<%= post.url %>">
        <%= post.title %>
      </a>
      <p>
        ups:
        <%= post.ups %>
          downs:
          <%= post.downs %>
      </p>
    </li>
  </script>

  <script src=" node_modules/jquery/dist/jquery.min.js "></script>
  <script src="node_modules/underscore/underscore-min.js "></script>
  <script src="node_modules/backbone/backbone-min.js "></script>
  <script src="assets/js/app.js "></script>

</body>

</html>
