@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Railway', sans-serif;
  background: #eee;
  color: #000;
  height: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

a {
  text-decoration: none;
}

#reddit {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.reddit-bg {
  background: #cee3f8;
}

#reddit .reddit-item {
  padding: 2rem 1rem;
  margin: 1rem .5rem;
  background: #fff;
  box-shadow: 0 0 10px #444;
  list-style: none;
  color: orangered;
  width: 28%;
  height: 260px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#reddit .reddit-item:hover {
  background: #dedede;
  box-shadow: 0 0 10px #fff;
}

#reddit .thumb-img {
  background-color: #333;
  height: 70%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#reddit .reddit-item a {
  color: orangered;
}

.search {
  flex-basis: 30%;
  margin: 0 auto;
  padding: 1rem;
}

.search input[type=text] {
  padding: .4rem;
  border: none;
  box-shadow: 1px 1px 4px #555;
  font-size: 18px;
}

.search input[type=submit] {
  border: none;
  border-radius: 0;
  font-size: 18px;
  padding: .4rem .7rem;
  box-shadow: 1px 1px 4px #555;
  color: #cee3f8;
  background: #777;
  cursor: pointer;
}

.search input[type=submit]:hover {
  background: #555;
}
